.magazine {
	justify-content: center;
	align-items: center;
	width: 33vw;
	max-width: calc(50rem / 3 - 1rem);
	height: inherit;
	padding: 1rem;
	box-sizing: border-box;
}

.magazine img {
	width: calc(33vw - 20px);
	max-width: calc(50rem / 3 - 2rem);
	height: calc(33vw - 20px);
	max-height: calc(50rem / 3 - 2rem);
	object-fit: cover;
}