.magazine {
	justify-content: center;
	align-items: center;
	width: 33vw;
	height: inherit;
	padding: 10px;
	box-sizing: border-box;
}

.magazine img {
	width: calc(33vw - 20px);
	height: calc(33vw - 20px);
	object-fit: cover;
}