.profile {
	display: flex;
	width: inherit;
	height: inherit;
	justify-content: center;
	align-items: center;
}

.profile img {
	width: 80%;
	height: 80%;
	border: 1px solid black;
	border-radius: 50%;
}