.info {
	display: flex;
	height: 25vh;
	justify-content: space-around;
	align-items: center;
	width: inherit;
	background-color: rgba(200,200,200,0.1);
	border-bottom: 1px solid #ddd;
	padding-right: 2rem;
	box-sizing: border-box;
}

.infoProfile {
	width: 20vh;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.infoView {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.infoSettings {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.25rem;
}

.infoSettings > span {
	padding-right: 0.75rem;
}

.infoTotal {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 1rem;
}