.post {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1.25rem;
	flex-direction: column;
	width: 100vw;
	max-width: 30rem;
	border-radius: 1rem;
	border: 1px solid #ccc;
}

.postHeader {
	display: flex;
	flex: 1;
	width: inherit;
	max-width: inherit;
	border-bottom: 1px solid #ccc;
	border-radius: 1rem;
	justify-content: space-between;
	align-items: center;
}

.postHeaderLeft {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.postHeaderLeft > span {
	width: 5vh;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.postHeaderLeft img {
	width: 4vh;
	height: 4vh;
}

.postHeaderRight {
	flex: 4;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 1rem;
	cursor: pointer;
}

.postSection {
	flex: 8;
	display: flex;
	justify-content: center;
	align-items: center;
	width: inherit;
	max-width: inherit;
}

.postFooter {
	flex: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	width: inherit;
	max-width: inherit;
}