.post {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	flex-direction: column;
	width: 100%;
	max-width: 450px;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.postHeader {
	display: flex;
	flex: 1;
	width: inherit;
	border-bottom: 1px solid #ccc;
	border-radius: 10px;
	justify-content: space-between;
	align-items: center;
}

.postHeaderLeft {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.postHeaderRight {
	flex: 4;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
}

.postSection {
	flex: 8;
	display: flex;
	justify-content: center;
	align-items: center;
	width: inherit;
}

.postFooter {
	flex: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	width: inherit;
}