.header {
	width: inherit;
	height: 8vh;
	background-color: white;
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	z-index: 999;
	border-bottom: 1px solid #ddd;
}

.headerLeft {
	width: 10rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.headerCenter {
	width: calc(100vw - 10rem);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #eee;
	border-radius: 1rem;
	flex-direction: row;
	padding: 1rem;
	margin: 1rem;
	min-width: 10rem;
	box-sizing: border-box;
}

.search {
	width: 80vw;
	max-width: 10rem;
	border: none;
	font-size: 1rem;
	background-color: transparent;
}

.headerRight {
	display: flex;
	align-items: center;
	justify-content: center;
}

.headerList {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.headerListItem {
	margin: 1rem;
	font-size: 1.25rem;
	cursor: pointer;
}

.headerListItemProfile {
	width: 5vh;
	right: 0;
}

.headerListItemProfile ul {
	list-style: none;
	padding-left: 0;
	border: 1px solid #ddd;
}

.headerListItemProfile li {
	list-style: none;
	font-size: 1rem;
	margin: 1rem;
	padding-left: 0;
}

.headerListItemProfile i {
	margin-right: 1rem;
}

.headerListItemProfile hr {
	background-color: #ddd;
}

.headerListItemProfile img {
	width: 4vh;
	height: 4vh;
}

@media screen and (max-width: 64rem){
	.headerRight {
		display: none;
	}
}